/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2024, 10:54:24 AM
    Author     : AZZA
*/





/* for the plus icon */
.ui-icon-plusthick
{
    background-color: white;    
}
/* for the button icon */
.btn
{
    background-color: green;
}

